<% if obj.errors.any? %>
    <div class="errors__box">
        <h4>Errors: </h4>
        <ul>
        <% obj.errors.full_messages.each do |msg| %>
            <li>  <%= msg %> </li>
        <%end%>
        </ul> 
    </div>
<%end%>